# Expo (arquivos de cache e build do Expo)
.expo/
web-build/

# Variáveis de ambiente (dados sensíveis/locais)
.env
.env.*

# Metro Bundler (cache do empacotador do React Native)
.metro/

# Node.js (pasta onde as dependências são instaladas)
node_modules/

# npm (logs de depuração)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS (arquivos de sistema ocultos)
.DS_Store

# Windows (arquivos de sistema ocultos)
Thumbs.db

# VS Code (configurações específicas do editor)
.vscode/

# Gradle (cache e builds do Android)
android/.gradle/
android/build/
android/app/build/

# iOS (builds do iOS)
ios/build/
ios/.symlinks/

# Arquivos de depuração do Firebase
firebase-debug.log
firebase-debug.log.json

# Arquivos gerados (APKs, AABs, IPAs)
*.apk
*.aab
*.ipa
